body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    min-width: 1280px;
    display: flex;
    justify-content: center;
}

.content {
    width: 1059px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    padding-top: 49px;
}

.logo {
    width: 200px;

}

.logo img:nth-of-type(2) {
    display: none;
}

.logo img {
    float: left;
    width: 46px;
    height: 44px;
}

.logo h1, h3 {
    float: left;
    font-family: Verdana;
    color: #ffffff;
    line-height: 21px;
    padding-left: 12px;
    margin: 0;
}

.logo h1 {
    font-size: 29px;

}

.logo h3 {
    font-size: 18px;
    padding-top: 8px;
}

.logo:hover h1{
    color: #f26522;
}

.logo:hover h3{
    color: #f26522;
}

.logo:hover img:nth-of-type(1) {
    display: none;
}

.logo:hover img:nth-of-type(2) {
    display: block;
}



.phone-block {
    display: inline-block;
}



.phone-block p {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    line-height: 5px;
    text-align: right;
    margin-top: 0;
}

.photogreed {
    padding-top: 48px;
    padding-bottom: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-block {
    width: 307px;
    height: 200px;
    padding-bottom: 69px;
    text-align: center;
}
.photo-block img {
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
}

.photo-block .photo-name {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    /*animation: fade .5s linear forwards;*/
}

.photo-block .price-block {
    position: relative;
    top: -121px;
    width: 314px;
    height: 63px;
    background-color: #f26522;
    text-align: left;
    display: none;
}

.price-block-from {
    font-family: Verdana;
    color: #ffffff;
    font-size: 10px;
    padding-left: 10px;
}

.price-block-from p {
    margin: 0;
}

.price-block-price {
    font-size: 20px;
    color: #ffffff;
    position: relative;
}

.photo-block:hover .price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    animation:fade linear alternate 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.photo-block div a {
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    padding-right: 10px;
    text-decoration: none;
    /*display: none;*/
}

.photo-block:hover .photo-name {
    color: #f26522;
}

/*.photo-block:hover .price-block-from {*/
    /*font-size: 10px;*/
/*}*/

/*.photo-block:hover .price-block-price {*/
    /*font-size: 20px;*/
/*}*/
/*.photo-block:hover div a {*/
    /*font-size: 14px;*/
/*}*/

small {
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    padding-top: 60px;

}