* {
    font-family: 'Arimo', serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

table {
    border: rgb(55, 71, 101) solid 25px;
    border-collapse: collapse;
}

td, th {
    border: lightgrey solid 2px;
    text-align: center;
    text-transform: uppercase;
    width: 277px;
    height: 69px;
    color:  #848484;
    vertical-align: center;
}

th {
    color: black;
}

tr:first-child th:nth-of-type(1) {
    font-size: 18px;
}

tr:first-child th:nth-of-type(1) p {
    font-size: 30px;
    margin: 0;
}

tr:first-child th:nth-of-type(2) {
    background-color: #89c331;
    font-size: 24px;
    color: white;
}

tr:first-child th:nth-of-type(3) {
    background-color: #f04a56;
    font-size: 30px;
    color: white;
}

tr:first-child th:nth-of-type(4) {
    background-color: #20807c;
    font-size: 24px;
    color: white;
}

th .price {
    margin-left: 40px;
    float: left;
    font-size: 60px;
}
th .coins {
    float: left;
    margin-top: 10px;
    font-size: 24px;
}
th .permonth {
    float: left;
    font-size: 18px;
    font-weight: 400;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}
tr:nth-of-type(1) th:nth-of-type(1) {
    background-color:  #fafafa;
}
tr:nth-of-type(2) th {
    background-color: white;
}

i {
    font-size: 1.5em;
}

button {
    border-radius: 5px;
    background-color:  #484848;
    width: 192px;
    height: 49px;
    color: white;
    text-transform: uppercase;
}


button:hover {
    box-shadow: 3px 3px 10px 5px darkgray, 0 0 4px rgba(132, 132, 132, .5) inset;
}

tr:nth-of-type(9) td:nth-of-type(1) {
    background-color: #dedede;
    border-bottom: #404040 solid 7px;
}

tr:nth-of-type(9) td:nth-of-type(2) button {
    background-color:  #89c331;
    border-bottom: #79b027 solid 7px;
}
tr:nth-of-type(9) td:nth-of-type(3) button {
    background-color:  #f04a56;
    border-bottom: #df3a46 solid 7px;
}
tr:nth-of-type(9) td:nth-of-type(4) button {
    background-color:  #20807c;
    border-bottom: #16736f solid 7px;
}